:root {
  --white: #fff;
  --black: #222;
  --gray: #eaeaea;
  --lt-gray: #f8f8f8;
  --navy: #022859; /*all*/
  --yellow: #f2c36b; /*accent only*/
  --gold: #bf8339; /*large only*/
  --tan: #8c7669; /*large only*/
  --maroon: #732020; /*all*/
  --min-large: 1.16625rem; /*18.66px*/
  --large-text: 1.5rem; /*24px*/
}

html {
  box-sizing: border-box;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.65;
  color: var(--black);
  background-color: var(--white);
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 3rem;
  height: 3rem;
  fill: var(--black);
  stroke: var(--black);
}

button {
  border: none;
  background-color: transparent;
}

p {
  margin: 0;
}
a {
  color: var(--maroon);
  text-decoration-color: transparent;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
  text-decoration-color: var(--maroon);
}

.access-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header */
.header {
  background-color: rgba(255, 255, 255, 75%);
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  transition: top 100ms linear;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 10%);
  background-color: 300ms ease-in-out;
}

.header:hover {
  background-color: rgba(255, 255, 255, 100%);
}
.banner {
  padding: 0.5rem 1rem;
  background-color: var(--navy);
  color: var(--white);
  text-align: center;
}

.banner a {
  color: var(--white);
}

.banner a:focus,
.banner a:hover,
.banner a:active {
  text-decoration-color: var(--white);
}

.primary_logo {
  margin: 0;
}

.primary_logo svg {
  width: 200px;
  height: auto;
  max-width: 100%;
}

.nav_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 115rem;
  margin: 0 auto;
}

.scrolled .header {
  top: -35px;
  background-color: rgba(255, 255, 255, 100%);
}

@media (max-width: 600px) {
  .header {
    position: sticky;
  }

  .banner {
    line-height: 1.25;
  }
}

/* Navigation  */

.menu_button {
  display: none;
}

.main_nav,
.main_social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 1024px) {
  .menu_button {
    display: block;
    cursor: pointer;
    margin: 0.5rem 0.5rem 0.5rem auto;
    background-color: transparent;
    padding: 0;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out;
  }

  .menu_button:focus,
  .menu_button:hover,
  .menu_button:active {
    background-color: var(--navy);
  }

  .open_button {
    padding: 0.5rem;
    margin: 0 0.25rem 0 auto;
  }

  .open_button:focus,
  .open_button:hover,
  .open_button:active {
    background-color: var(--maroon);
  }

  .open_button svg {
    width: 1.75rem;
    height: 1.75rem;
  }
  .menu_button svg {
    stroke: var(--black);
    transition: stroke 300ms ease-in-out;
  }

  .menu_button:focus svg,
  .menu_button:hover svg,
  .menu_button:active svg {
    stroke: var(--white);
  }
  .navigation {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    max-width: 100%;
    height: 100dvh;
    transform: translateX(0);
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
    background-color: var(--white);
    transition: translate 300ms ease-in-out;
  }

  .menu_active .navigation {
    visibility: visible;
    opacity: 1;
    transform: translate(100%);
  }

  .main_nav {
    flex-direction: column;
    gap: 0;
    margin: 0.25rem 0 0;
    padding: 0.25rem 0 0;
    border-top: 1px solid var(--gray);
  }

  .main_nav li {
    width: 100%;
    margin: 0 0 0.25rem;
    text-align: center;
    padding: 0 0 0.25rem;
    text-align: center;
    border-bottom: 1px solid var(--gray);
  }

  .main_nav a {
    display: block;
    width: 100%;
    padding: 1rem;
  }
}

/* Social Nav Icons */

.main_social {
  gap: 0.5rem;
}

.main_social a {
  padding: 0.75rem;
  display: block;
  background-color: transparent;
}

.main_social a:focus,
.main_social a:hover,
.main_social a:active {
  background-color: var(--maroon);
  border-radius: 5px;
  transition: background-color 300ms ease-in-out;
}

.main_social svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--black);
  stroke: var(--black);
  transition: all 300ms ease-in-out;
}

.main_social a:focus svg,
.main_social a:hover svg,
.main_social a:active svg {
  fill: var(--white);
  stroke: var(--white);
}

@media (max-width: 1024px) {
  .nav_container {
    padding: 0.5rem 0.25rem;
  }
}
