:root {
  --white: #fff;
  --black: #222;
  --gray: #eaeaea;
  --lt-gray: #f8f8f8;
  --navy: #022859; /*all*/
  --yellow: #f2c36b; /*accent only*/
  --gold: #bf8339; /*large only*/
  --tan: #8c7669; /*large only*/
  --maroon: #732020; /*all*/
  --min-large: 1.16625rem; /*18.66px*/
  --large-text: 1.5rem; /*24px*/
}

html {
  box-sizing: border-box;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.65;
  color: var(--black);
  background-color: var(--white);
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 3rem;
  height: 3rem;
  fill: var(--black);
  stroke: var(--black);
}

button {
  border: none;
  background-color: transparent;
}

p {
  margin: 0;
}
a {
  color: var(--maroon);
  text-decoration-color: transparent;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
  text-decoration-color: var(--maroon);
}

.access-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header */
.header {
  background-color: rgba(255, 255, 255, 75%);
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  transition: top 100ms linear;
  background-color: 300ms ease-in-out;
}

.banner {
  padding: 0.5rem 1rem;
  background-color: var(--navy);
  color: var(--white);
  text-align: center;
}

.banner a {
  color: var(--white);
}

.banner a:focus,
.banner a:hover,
.banner a:active {
  text-decoration-color: var(--white);
}

.primary_logo {
  margin: 0;
}

.primary_logo svg {
  width: 200px;
  height: auto;
  max-width: 100%;
}

.nav_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 115rem;
  margin: 0 auto;
}

.scrolled .header {
  top: -35px;
  background-color: rgba(255, 255, 255, 100%);
}

/* Navigation  */

.menu_button {
  display: none;
}

.main_nav,
.main_social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main_social {
  gap: 0.5rem;
}

.main_social a {
  padding: 0.75rem;
  display: block;
}

.main_social svg {
  width: 1.5rem;
  height: 1.5rem;
}
